@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Raleway:wght@200;400;600&display=swap');
*{box-sizing: border-box;}
:root {
  --bg-secondary-color: aliceblue;
  --bg-primary-color: rgb(0, 3, 61);
  --bg-button: greenyellow;
  --dark-text-color: black;
  --light-text-color: rgb(242, 249, 255);
  --font-headings: 'Raleway', sans-serif;
  --font-text: 'Montserrat', sans-serif;
  --header-height: 4rem;
  --content-width: 95%;
  --page-height: calc(100vh - var(--header-height));
  --border-radius-button: 15px;
  --button-height: 2rem;
  --ball-size: calc(100vw / 10);
}

body, html {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  color: var(--light-text-color);
  font-family: var(--font-text);
  background-color: var(--bg-primary-color);
}

.main-header {
  background-color: var(--bg-secondary-color);
  height: var(--header-height);
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
a:active{
  font-weight: 700;
  background: transparent;
}

a:focus-visible {
  outline: none;
}
a:-webkit-any-link:active {
  color:none;
  background: none;
  -moz-user-focus: none;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  
}

.navlink {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: black;
}

.navlink.current{
  font-weight: 700;
  text-decoration: underline;
}

.wrapper {
  margin-top: 4rem;
  height: var(--page-height);
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  -webkit-overflow-scrolling: touch;/*  only webkit supported browsers */
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.page {
  height: var(--page-height);
  position:static;
  z-index: 0;
  background-color: var(--bg-primary-color);
  width: 100%;
  scroll-snap-align: start end;
  text-align: center;
}

.page, header, main, article, .arrow-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1{
  font-family: var(--font-headings);
  text-align: center;
  font-size: calc(4rem - (var(--page-height) / 25));
  /* margin: 0 0 1rem 0; */
}
main {
  position: relative;
  z-index: 25;
  height: calc(var(--page-height) - 40vh);
}

article {
  width: var(--content-width);
}
article > a {
  width: 100%;
}


img {
  width: 50%;
  border-radius: 100%;
}

p {
  width: 80%;
  margin: 0 auto 1.5rem auto;
}

button {
  width: var(--content-width);
  height: var(--button-height);
  background-color: var(--bg-button);
  color: var(--bg-primary-color);
  border: none;
  border-radius: var(--border-radius-button);
  opacity: .9;
  transition: transform .05s linear;
  font-weight: 600;
}

button:hover {
  opacity: 1;
  outline: auto var(--bg-button);
}
button:active {
  transform: scale(0.96);
}

/* -------------------- page 1 ------------------ */


.h1-big {
  height: 31rem;
  font-size: 8rem;
  margin: 0;
  text-transform: capitalize;
  animation: animate-h1 2s ease-in-out 1s 1 alternate backwards;
}

@keyframes animate-h1 {
  from {color: var(--bg-primary-color);}
  to {color: var(--bg-secondary-color);}
}

.arrow-wrapper{
  margin: 0;
  width: 100%;
  justify-content: center;
  background-color: var(--bg-secondary-color);
  height: calc(var(--page-height) - 31rem);
  
}
.arrow-wrapper:focus, .arrow-wrapper:hover  {
  text-decoration: none;
}

.arrow {
  height: 200px;
  width: 10%;
  font-size: 16rem;
  transform: rotate(-90deg);
  color: var(--bg-primary-color);
  animation: nextPage 2s alternate ease-in-out infinite;
  margin-right: 10rem;
  
}

@keyframes nextPage {
  from {color: var(--bg-primary-color);}
  to {color: var(--bg-secondary-color);}
}

/* -------------------- page 2 ------------------ */

.header-page2 {
  justify-content: flex-end;
  height: 40vh;
}


/* -------------------- page 3 ------------------ */

.ball-wrapper {
  width: 100%;
  height: var(--ball-size);
  position: relative;
  z-index: 10;
  display: inline-flex;
  top: 0;
  
}
.ball {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  border-radius: 100%;
  width: var(--ball-size);
  height: var(--ball-size);
  opacity: 0;
}

.animate-balls {
  animation: balls 1s alternate ease-in-out 4;
}

/* .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
  animation: balls 1s alternate ease-in-out 10 none;
} */
.div1 {
  background-color: red;
  animation-delay: .1s;
}
.div2 {
  background-color: orange;
  animation-delay: .2s;
}
.div3 {
  background-color: yellow;
  animation-delay: .3s;
}
.div4 {
  background-color: yellowgreen;
  animation-delay: .4s;
}
.div5 {
  background-color: green;
  animation-delay: .5s;
}
.div6 {
  background-color: blue;
  animation-delay: .6s;
}
.div7 {
  background-color: rgb(83, 0, 161);
  animation-delay: .7s;
}
.div8 {
  background-color: violet;
  animation-delay: .8s;
}

@keyframes balls {
  from {
    opacity: 1;
    top: 0;
  }
  to {
  opacity: .9;
  top: calc(var(--page-height) - var(--ball-size));
  height: calc(var(--ball-size) - 6px);
  }
}

.finish {
  position: static;
  z-index: 5;
  width: var(--content-width);
  height: var(--page-height);
  opacity: 0;
  background-color: var(--bg-primary-color);
  margin: 0 auto;
}

.animate-finish {
  animation: finish 2s ease-in 4s 1 forwards;
}

@keyframes finish {
  from {
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.h1-big2 {
  height: fit-content;
  text-transform: uppercase;
}

.restart-animation {
  

  border: 1px solid var(--bg-secondary-color);
  border-radius: var(--border-radius-button);
  background-color: none;
  text-transform: capitalize;
  font-weight: 600;
}


/* -------------------- page 4 ------------------ */

.header-page4 {
  height: var(--page-height);
  justify-content: center;
  position: relative;
  z-index: 0;
}
.h1-big4 {
  margin: 4rem auto 0;
  position: relative;
  z-index: 2;
}
iframe {
  margin: -6rem 0;
  position: relative;
  transform: scale(.62);
  height: 100%;
  width: 150%;
  z-index: 5;
  overflow: scroll;
  scroll-behavior: smooth;

}

/* -------------------- page 5 ------------------ */
.page5 {
  height: var(--page-height);
}
.header-page5 {
  justify-content: space-around;
  
  height: 50vh;
}
.h1-big3 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con , .tact {
  position: relative;
  z-index: 1;
  opacity: .6;
  padding: 0;
}

.con{
  letter-spacing: 8.9px;
  font-size: 140%;
  position: relative;
  z-index: 2;
  background-color: rgb(56, 180, 180);
  
  padding: 0 0 0 2.53px;
  margin: 37.01px -127.53px 0 0;
}

.tact{
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: orangered;
  color: black;
  margin-right: 100px;
}

.email {
  color: var(--bg-secondary-color);
}

.SoMe-icon-wrapper {
  width: var(--content-width);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  font-size: 40px;
  font-weight: 900;
  vertical-align: top;
  opacity: .5;
}

.linkedin-icon , .facebook-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--bg-primary-color);
  border-radius: 50%;
  
}
.facebook-icon {
  font-size: 56px;
}
.linkedin-icon {
  letter-spacing: -3px;
}


/* -------------------- MEDIA Queries ------------------ */
@media only screen and (min-width: 44em) {
  .wrapper {
    height: var(--page-height);
    display: flex;
    scroll-snap-type: x mandatory;
   
  }
  .page, .page1,.page2,.page3,.page4,.page5 {
    flex-direction: row;
    min-width: 100vw;
    margin: 0;
  }
  .arrow-wrapper{
    height: 90%;
    background-color: var(--bg-primary-color);
  }
  .arrow {
    transform: rotate(-180deg);
    height: 60%;
    width: 50%;
    margin-top: 4rem;
  }
  .page2 {
    place-items: center;
  
  }
  .header-page2 , main {
    height: 20rem;
    margin-top: 4rem;
  }
  
  main {
    width: calc(var(--content-width) / 2);
  }
  
  img {
    border-radius: 100%;
    margin: 2rem auto;
  }
  blockquote {
    margin-bottom: 4rem;
  }
  
  p {
    width: 90%;
    text-align: left;
    margin: 0;
  }
  
  .page3, .page5 {
    flex-direction: column;
  }
  .page3 {
    justify-content: space-between;
  }
  
  .finish {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: calc(var(--content-width) / 1.2);
    height: fit-content;
    justify-items: center;
    margin: auto;
  }
  .h1-big2 {
    grid-row: 1/3;
    width: 20rem;
  }
  .header-page4 {
    flex-direction: row;
    width: var(--content-width);
    height: var(--page-height);
    
  }
  .h1-big4 {
    display: none;
  }
  iframe {
    transform: scale(.85);
    width: 80%;
    z-index: 5;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .header-page5 {
    flex-direction: row;
  }

}
/* -------- borders for layout --------- */

/* .arrow-wrapper, h1, header, article, p, blockquote {
  border: 1px solid red;
}
main {
  background-color: blueviolet;
} */


/* -------- crazy borders for layout --------- */









